.aaveeverywheremainiconbackground-325 {
  background-image: url(../../../static/img/vector-362.svg);
  background-size: 100% 100%;
  height: calc(100% - 41562px);
  left: -12420px;
  position: relative;
  top: 41562px;
  width: calc(100% + 12420px);
}
