.extensiveaudithero {
  height: 149px;
  left: -23237px;
  position: relative;
  top: 24854px;
  width: calc(100% + 23237px);
}

.extensiveaudithero .element-from-top {
  height: 15.56%;
  left: 7.66%;
  position: absolute;
  top: 23.74%;
  width: 90.87%;
}

.extensiveaudithero .element-ndline-from-top {
  height: 15.56%;
  left: 21.36%;
  position: absolute;
  top: 42.41%;
  width: 96.55%;
}

.extensiveaudithero .element-rdline-from-top {
  height: 15.56%;
  left: 35.93%;
  position: absolute;
  top: 61.09%;
  width: 63.49%;
}
