.fireblockslogo {
  height: 5px;
  position: relative;
  width: 33px;
}

.fireblockslogo .vector-31 {
  height: 68.37%;
  left: 22.07%;
  position: absolute;
  top: 12.62%;
  width: 77.58%;
}

.fireblockslogo .vector-32 {
  height: 96.17%;
  left: 0;
  position: absolute;
  top: 0;
  width: 15.24%;
}
