.whyaavehero {
  align-items: flex-end;
  display: flex;
  height: 156px;
  justify-content: flex-end;
  left: -11740px;
  min-width: calc(100.00% + 11740px);
  padding: 0 0.0px;
  position: relative;
  top: 16036px;
}

.whyaavehero .group-5 {
  height: 271px;
  margin-bottom: -115.22px;
  width: 285px;
}
