.component-1-49 {
  background-image: url(../../../static/img/vector-351.svg);
  background-size: 100% 100%;
  height: calc(100% - 59080px);
  left: -5399px;
  position: relative;
  top: 59080px;
  width: calc(100% + 5399px);
}
