.whyaavehero {
  align-items: flex-end;
  display: flex;
  height: 234px;
  justify-content: flex-end;
  left: -4195px;
  min-width: calc(100.00% + 4195px);
  padding: 0 0.0px;
  position: relative;
  top: 15934px;
}

.whyaavehero .group-32 {
  height: 414px;
  margin-bottom: -179.75px;
  width: 428px;
}
