.krakenlogo {
  height: 13px;
  left: -1636px;
  position: relative;
  top: 110906px;
  width: 71px;
}

.krakenlogo .vector-9 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 22.95%;
}

.krakenlogo .vector-10 {
  height: 76.92%;
  left: 28.58%;
  position: absolute;
  top: 23.08%;
  width: 70.66%;
}

.krakenlogo .vector-11 {
  height: 72.72%;
  left: 62.08%;
  position: absolute;
  top: 25.18%;
  width: 11.75%;
}
