.twitterlogo {
  height: 22px;
  left: -18900px;
  position: relative;
  top: 42081px;
  width: 13px;
}

.twitterlogo .vector-53 {
  height: 50.77%;
  left: 0;
  position: absolute;
  top: 24.62%;
  width: 100.00%;
}
