.galaxylogo {
  height: 16px;
  position: relative;
  width: 65px;
}

.galaxylogo .vector-29 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 24.50%;
}

.galaxylogo .vector-30 {
  height: 80.72%;
  left: 32.73%;
  position: absolute;
  top: 18.96%;
  width: 66.87%;
}
