.discordlogo {
  height: 22px;
  left: -18900px;
  position: relative;
  top: 46558px;
  width: 15px;
}

.discordlogo .vector-55 {
  height: 52.06%;
  left: 0;
  position: absolute;
  top: 23.97%;
  width: 100.00%;
}
