.element-yearsstronghero {
  align-items: flex-end;
  display: flex;
  height: calc(100% - 28138px);
  justify-content: flex-end;
  left: -20126px;
  min-width: calc(100.00% + 20126px);
  padding: 72.5px 89.4px;
  position: relative;
  top: 28138px;
}

.element-yearsstronghero .overlap-group-4 {
  height: 111px;
  position: relative;
  width: 244px;
}

.element-yearsstronghero .group-42 {
  display: flex;
  height: 27px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 27px;
}

.element-yearsstronghero .group-43 {
  flex: 1;
  margin-left: -0.0%;
  margin-right: 0.0%;
  position: relative;
  width: 27.22px;
}

.element-yearsstronghero .vector-42 {
  height: 100.00%;
  left: 50.00%;
  position: absolute;
  top: 0;
  width: 50.00%;
}

.element-yearsstronghero .vector-43 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50.00%;
}

.element-yearsstronghero .group-44 {
  display: flex;
  height: 37px;
  left: 22px;
  position: absolute;
  top: 37px;
  width: 37px;
}

.element-yearsstronghero .group-45 {
  flex: 1;
  margin-left: -0.0%;
  margin-right: 0.0%;
  position: relative;
  width: 37.2px;
}

.element-yearsstronghero .group-46 {
  display: flex;
  height: 45px;
  left: 51px;
  position: absolute;
  top: 33px;
  width: 45px;
}

.element-yearsstronghero .group-47 {
  flex: 1;
  margin-left: -0.0%;
  margin-right: 0.0%;
  position: relative;
  width: 44.92px;
}

.element-yearsstronghero .group-48 {
  display: flex;
  height: 71px;
  left: 85px;
  position: absolute;
  top: 20px;
  width: 71px;
}

.element-yearsstronghero .group-49 {
  flex: 1;
  margin-left: -0.0%;
  margin-right: 0.0%;
  position: relative;
  width: 71.41px;
}

.element-yearsstronghero .group-50 {
  display: flex;
  height: 111px;
  left: 133px;
  position: absolute;
  top: 0;
  width: 111px;
}

.element-yearsstronghero .group-51 {
  flex: 1;
  margin-left: -0.0%;
  margin-right: 0.0%;
  position: relative;
  width: 111.12px;
}
