.whyaavehero-wrapper {
  height: 156px;
  left: -11740px;
  position: relative;
  top: 17155px;
  width: calc(100% + 11740px);
}

.whyaavehero-wrapper .vector-33 {
  height: 100.00%;
  left: -119.25%;
  position: absolute;
  top: 0;
  width: 399.99%;
}

.whyaavehero-wrapper .top {
  height: 78px;
  left: -121px;
  position: absolute;
  top: 0;
  width: 961px;
}

.whyaavehero-wrapper .bottom {
  height: 78px;
  left: -558px;
  position: absolute;
  top: 78px;
  width: 961px;
}
