.faqs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31.5px;
  padding: 0px 0px 32px;
  position: relative;
  top: 71px;
}

.faqs .container-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  padding: 0px 0px 6px;
  position: relative;
  width: 100%;
}

.faqs .design-component-instance-node {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.faqs .seemore-button-375 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}
