.defi-unlocked-under-the-first-one-1440 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.defi-unlocked-under-the-first-one-1440 .container-64 {
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  padding: 32px;
  position: relative;
  width: 100%;
}

.defi-unlocked-under-the-first-one-1440 .container-65 {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: 441px;
}

.defi-unlocked-under-the-first-one-1440 .heading-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.59px;
  position: relative;
}

.defi-unlocked-under-the-first-one-1440 .text-wrapper-65 {
  color: #201c1c;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.33px;
  line-height: 21.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.defi-unlocked-under-the-first-one-1440 .container-66 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 441px;
}

.defi-unlocked-under-the-first-one-1440 .text-wrapper-66 {
  color: #636161;
  font-family: var(--aave-com-semantic-button-font-family);
  font-size: var(--aave-com-semantic-button-font-size);
  font-style: var(--aave-com-semantic-button-font-style);
  font-weight: var(--aave-com-semantic-button-font-weight);
  letter-spacing: var(--aave-com-semantic-button-letter-spacing);
  line-height: var(--aave-com-semantic-button-line-height);
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.defi-unlocked-under-the-first-one-1440 .background-25 {
  align-items: center;
  align-self: stretch;
  background-color: #fbfbfb;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  padding: 32px;
  position: relative;
  width: 100%;
}
