.aaveeverywheremainicon-325 {
  height: calc(100% - 42681px);
  left: -12420px;
  position: relative;
  top: 42681px;
  width: calc(100% + 12420px);
}

.aaveeverywheremainicon-325 .group-16 {
  height: 13.21%;
  left: 40.75%;
  position: absolute;
  top: 49.21%;
  width: 18.29%;
}

.aaveeverywheremainicon-325 .vector-43 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-325 .vector-44 {
  height: 100.00%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-325 .vector-45 {
  height: 33.10%;
  left: 30.40%;
  position: absolute;
  top: 28.54%;
  width: 38.97%;
}
