.metamasklogo {
  height: 16px;
  left: -1636px;
  position: relative;
  top: 109787px;
  width: 53px;
}

.metamasklogo .vector-12 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 32.17%;
}

.metamasklogo .vector-13 {
  height: 89.94%;
  left: 2.46%;
  position: absolute;
  top: 0;
  width: 27.96%;
}

.metamasklogo .vector-14 {
  height: 42.29%;
  left: 0;
  position: absolute;
  top: 54.30%;
  width: 32.17%;
}

.metamasklogo .vector-15 {
  height: 64.50%;
  left: 0;
  position: absolute;
  top: 20.85%;
  width: 32.17%;
}

.metamasklogo .vector-16 {
  height: 90.87%;
  left: 0;
  position: absolute;
  top: 0;
  width: 32.17%;
}

.metamasklogo .vector-17 {
  height: 9.13%;
  left: 14.62%;
  position: absolute;
  top: 90.87%;
  width: 3.64%;
}

.metamasklogo .vector-18 {
  height: 14.65%;
  left: 9.39%;
  position: absolute;
  top: 85.35%;
  width: 14.10%;
}

.metamasklogo .vector-19 {
  height: 93.95%;
  left: 37.95%;
  position: absolute;
  top: 0;
  width: 57.24%;
}
