.linkdinlogo {
  align-items: center;
  display: flex;
  height: 22px;
  left: -16231px;
  min-width: 18px;
  position: relative;
  top: 45062px;
}

.linkdinlogo .clip-path-group-2 {
  height: 18px;
  width: 18px;
}
