.aaveeverywheremainicon-1440 {
  height: calc(100% - 47994px);
  left: -7967px;
  position: relative;
  top: 47994px;
  width: calc(100% + 7967px);
}

.aaveeverywheremainicon-1440 .aaveicon-eyes {
  height: 13.22%;
  left: 34.58%;
  position: absolute;
  top: 49.21%;
  width: 30.48%;
}

.aaveeverywheremainicon-1440 .vector-57 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-1440 .vector-58 {
  height: 100.00%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-1440 .vector-59 {
  height: 33.10%;
  left: 17.33%;
  position: absolute;
  top: 28.54%;
  width: 64.95%;
}
