.aaveeverywheremainiconbackground-425 {
  background-image: url(../../../static/img/vector-574.svg);
  background-size: 100% 100%;
  height: calc(100% - 42591px);
  left: -10975px;
  position: relative;
  top: 42591px;
  width: calc(100% + 10975px);
}
