.whyaavehero-3-1440 {
  align-items: flex-start;
  background-color: #fbfbfa;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 457px;
}

.whyaavehero-3-1440 .frame {
  align-self: stretch;
  background-image: url(../../../static/img/vector-22.svg);
  background-size: 100% 100%;
  height: 250px;
  position: relative;
  width: 100%;
}

.whyaavehero-3-1440 .group-33 {
  height: 1px;
  left: 78px;
  position: absolute;
  top: 192px;
  width: 1px;
}

.whyaavehero-3-1440 .far-left-sky-blue-1440 {
  left: 0 !important;
  top: 21px !important;
  transform: unset !important;
}
