.element {
  height: calc(100% - 110888px);
  position: absolute;
  right: 0;
  top: 110888px;
  width: 332px;
}

.element .group-3 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 0;
  width: 13.25%;
}

.element .group-4 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 14.46%;
  width: 13.25%;
}

.element .group-5 {
  background-image: url(../../../static/img/vector-145.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 14.46%;
  width: 13.25%;
}

.element .group-6 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 57.83%;
  position: absolute;
  top: 28.92%;
  width: 13.25%;
}

.element .group-7 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 28.92%;
  width: 13.25%;
}

.element .group-8 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 28.92%;
  width: 13.25%;
}

.element .group-9 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 43.37%;
  position: absolute;
  top: 43.37%;
  width: 13.25%;
}

.element .group-10 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 57.83%;
  position: absolute;
  top: 43.37%;
  width: 13.25%;
}

.element .group-11 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 43.37%;
  width: 13.25%;
}

.element .group-12 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 43.37%;
  width: 13.25%;
}

.element .group-13 {
  background-image: url(../../../static/img/vector-153.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 28.92%;
  position: absolute;
  top: 57.83%;
  width: 13.25%;
}

.element .group-14 {
  background-image: url(../../../static/img/vector-154.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 43.37%;
  position: absolute;
  top: 57.83%;
  width: 13.25%;
}

.element .group-15 {
  background-image: url(../../../static/img/vector-155.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 57.83%;
  position: absolute;
  top: 57.83%;
  width: 13.25%;
}

.element .group-16 {
  background-image: url(../../../static/img/vector-153.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 57.83%;
  width: 13.25%;
}

.element .group-17 {
  background-image: url(../../../static/img/vector-154.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 57.83%;
  width: 13.25%;
}

.element .group-18 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 14.46%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-19 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 28.92%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-20 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 43.37%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-21 {
  background-image: url(../../../static/img/vector-143.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 57.83%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-22 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-23 {
  background-image: url(../../../static/img/vector-144.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 72.29%;
  width: 13.25%;
}

.element .group-24 {
  background-image: url(../../../static/img/vector-153.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 0;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-25 {
  background-image: url(../../../static/img/vector-154.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 14.46%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-26 {
  background-image: url(../../../static/img/vector-154.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 28.92%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-27 {
  background-image: url(../../../static/img/vector-153.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 43.37%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-28 {
  background-image: url(../../../static/img/vector-155.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 57.83%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-29 {
  background-image: url(../../../static/img/vector-154.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 72.29%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}

.element .group-30 {
  background-image: url(../../../static/img/vector-153.svg);
  background-size: 100% 100%;
  height: 13.25%;
  left: 86.75%;
  position: absolute;
  top: 86.75%;
  width: 13.25%;
}
