.discordlogo {
  height: 22px;
  left: -16231px;
  position: relative;
  top: 46181px;
  width: 21px;
}

.discordlogo .vector-57 {
  height: 72.35%;
  left: 0;
  position: absolute;
  top: 13.83%;
  width: 100.00%;
}
