.does-aave {
  align-items: flex-start;
  background-color: #fcfcfc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: -4047px;
  position: relative;
  top: -50426px;
  width: 280px;
}

.does-aave .button-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px 8px 4px 24px;
  position: relative;
  width: 100%;
}

.does-aave .heading-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.59px;
  position: relative;
}

.does-aave .text-wrapper-8 {
  align-items: center;
  color: #211c1c;
  display: flex;
  font-family: var(--aave-com-semantic-heading-3-font-family);
  font-size: var(--aave-com-semantic-heading-3-font-size);
  font-style: var(--aave-com-semantic-heading-3-font-style);
  font-weight: var(--aave-com-semantic-heading-3-font-weight);
  justify-content: center;
  letter-spacing: var(--aave-com-semantic-heading-3-letter-spacing);
  line-height: var(--aave-com-semantic-heading-3-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.does-aave .icon-instance-node {
  height: 52px !important;
  position: relative !important;
  width: 52px !important;
}
