.aaveeverywheremainicon-425 {
  height: calc(100% - 43710px);
  left: -10975px;
  position: relative;
  top: 43710px;
  width: calc(100% + 10975px);
}

.aaveeverywheremainicon-425 .group-45 {
  height: 13.21%;
  left: 40.75%;
  position: absolute;
  top: 49.21%;
  width: 18.29%;
}

.aaveeverywheremainicon-425 .vector-45 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-425 .vector-46 {
  height: 100.00%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-425 .vector-47 {
  height: 33.10%;
  left: 30.40%;
  position: absolute;
  top: 28.54%;
  width: 38.97%;
}
