.aavefooterlogo {
  height: 16px;
  left: 2759px;
  position: relative;
  top: 83956px;
  width: 94px;
}

.aavefooterlogo .vector-44 {
  height: 96.04%;
  left: 83.48%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavefooterlogo .vector-45 {
  height: 96.04%;
  left: 35.01%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavefooterlogo .vector-46 {
  height: 96.04%;
  left: 52.55%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavefooterlogo .vector-47 {
  height: 91.26%;
  left: 67.87%;
  position: absolute;
  top: 3.66%;
  width: 16.85%;
}

.aavefooterlogo .vector-48 {
  height: 94.92%;
  left: 0;
  position: absolute;
  top: 0;
  width: 31.88%;
}

.aavefooterlogo .vector-49 {
  height: 37.89%;
  left: 16.94%;
  position: absolute;
  top: 59.33%;
  width: 6.48%;
}

.aavefooterlogo .vector-50 {
  height: 37.89%;
  left: 8.47%;
  position: absolute;
  top: 59.33%;
  width: 6.48%;
}
