.component-1-50 {
  height: calc(100% - 59815px);
  left: -5399px;
  position: relative;
  top: 59815px;
  width: calc(100% + 5399px);
}

.component-1-50 .group-41 {
  height: 13.21%;
  left: 40.75%;
  position: absolute;
  top: 49.21%;
  width: 18.29%;
}

.component-1-50 .vector-42 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.component-1-50 .vector-43 {
  height: 100.00%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.component-1-50 .vector-44 {
  height: 33.10%;
  left: 30.40%;
  position: absolute;
  top: 28.54%;
  width: 38.97%;
}
