.shortfall-hero {
  height: 198px;
  position: relative;
  width: 385px;
}

.shortfall-hero .whole-thing-should {
  height: 205px;
  left: 90px;
  position: absolute;
  top: -3px;
  width: 205px;
}

.shortfall-hero .group-41 {
  height: 21.88%;
  left: 44.27%;
  position: absolute;
  top: 39.06%;
  width: 11.27%;
}

.shortfall-hero .vector-40 {
  height: 100%;
  left: 50.00%;
  position: absolute;
  top: 0;
  width: 50.00%;
}

.shortfall-hero .vector-41 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50.00%;
}
