.aaveeverywheremainiconbackground-1440 {
  background-image: url(../../../static/img/vector-62.svg);
  background-size: 100% 100%;
  height: calc(100% - 46875px);
  left: -7967px;
  position: relative;
  top: 46875px;
  width: calc(100% + 7967px);
}
