.tiktoklogo {
  height: 22px;
  left: -18900px;
  position: relative;
  top: 44319px;
  width: 12px;
}

.tiktoklogo .vector-54 {
  height: 58.89%;
  left: 0;
  position: absolute;
  top: 20.55%;
  width: 96.10%;
}
