.ghohero-wrapper {
  align-items: flex-end;
  display: flex;
  height: 129px;
  justify-content: flex-end;
  left: -2225px;
  min-width: 275px;
  position: relative;
  top: 19618px;
}

.ghohero-wrapper .group-52 {
  height: 412px;
  margin-bottom: -322.27px;
  width: 412px;
}
