.aavelogo {
  height: 16px;
  left: 3626px;
  position: relative;
  top: 92891px;
  width: 94px;
}

.aavelogo .vector-61 {
  height: 96.04%;
  left: 83.47%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavelogo .vector-62 {
  height: 96.04%;
  left: 35.01%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavelogo .vector-63 {
  height: 96.04%;
  left: 52.55%;
  position: absolute;
  top: 0;
  width: 16.52%;
}

.aavelogo .vector-64 {
  height: 91.26%;
  left: 67.87%;
  position: absolute;
  top: 3.66%;
  width: 16.85%;
}

.aavelogo .vector-65 {
  height: 94.92%;
  left: 0;
  position: absolute;
  top: 0;
  width: 31.88%;
}

.aavelogo .group-54 {
  height: 37.87%;
  left: 8.47%;
  position: absolute;
  top: 59.30%;
  width: 14.95%;
}

.aavelogo .vector-66 {
  height: 100.04%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aavelogo .vector-67 {
  height: 100.04%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}
