.fireblockslogo {
  height: 10px;
  position: relative;
  width: 67px;
}

.fireblockslogo .vector-31 {
  height: 68.37%;
  left: 22.06%;
  position: absolute;
  top: 12.61%;
  width: 77.62%;
}

.fireblockslogo .vector-32 {
  height: 96.16%;
  left: 0;
  position: absolute;
  top: 0;
  width: 15.24%;
}
