.ghohero-wrapper {
  align-items: flex-end;
  display: flex;
  height: 104px;
  justify-content: flex-end;
  left: -4826px;
  min-width: 221px;
  position: relative;
  top: 19529px;
}

.ghohero-wrapper .group-15 {
  height: 332px;
  margin-bottom: -258.98px;
  width: 332px;
}
