.earnhero {
  align-items: flex-start;
  display: flex;
  height: 150px;
  justify-content: flex-end;
  min-width: 268px;
  position: absolute;
  right: 0;
  top: 15986px;
}

.earnhero .beatlikeaheartbeat {
  height: 269px;
  margin-top: -134.3px;
  width: 269px;
}
