.aave-logo-in-app {
  height: 12px;
  left: 13px;
  position: relative;
  top: 16px;
  width: 72px;
}

.aave-logo-in-app .vector-3 {
  height: 98.68%;
  left: 8.41%;
  position: absolute;
  top: 0;
  width: 90.97%;
}

.aave-logo-in-app .vector-4 {
  height: 97.55%;
  left: 0;
  position: absolute;
  top: 0;
  width: 31.69%;
}
