.caurosel-button {
  align-items: flex-start;
  background-color: #f7f6f6;
  border-radius: 50px;
  display: inline-flex;
  gap: 6px;
  padding: 8px;
  position: relative;
  top: 492px;
}

.caurosel-button .element-from-left {
  background-color: #211c1c;
  border-radius: 3px;
  height: 6px;
  position: relative;
  width: 6px;
}

.caurosel-button .element-from-left-2 {
  background-color: #bcbaba;
  border-radius: 3px;
  height: 6px;
  position: relative;
  width: 6px;
}
