.component-1-76 {
  height: 22px;
  left: -16231px;
  position: relative;
  top: 48419px;
  width: 18px;
}

.component-1-76 .vector-59 {
  height: 47.28%;
  left: 9.85%;
  position: absolute;
  top: 51.30%;
  width: 102.65%;
}

.component-1-76 .vector-60 {
  height: 72.05%;
  left: 0;
  position: absolute;
  top: 6.53%;
  width: 112.50%;
}
