.aaveeverywheremainicon-1024 {
  height: calc(100% - 45858px);
  left: -9430px;
  position: relative;
  top: 45858px;
  width: calc(100% + 9430px);
}

.aaveeverywheremainicon-1024 .group-53 {
  height: 13.21%;
  left: 29.95%;
  position: absolute;
  top: 49.21%;
  width: 30.48%;
}

.aaveeverywheremainicon-1024 .vector-45 {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-1024 .vector-46 {
  height: 100.00%;
  left: 56.65%;
  position: absolute;
  top: 0;
  width: 43.35%;
}

.aaveeverywheremainicon-1024 .vector-47 {
  height: 33.10%;
  left: 17.33%;
  position: absolute;
  top: 28.54%;
  width: 64.95%;
}
