.element-FAQ {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31.5px;
  height: 376px;
  left: 357px;
  position: relative;
  width: 570.67px;
}

.element-FAQ .container-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  padding: 0px 0px 6px;
  position: relative;
  width: 100%;
}

.element-FAQ .background-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-FAQ .seemore-button-instance {
  flex: 0 0 auto !important;
  gap: 4px !important;
  left: unset !important;
  top: unset !important;
}
