.githublogo {
  height: 22px;
  left: -18900px;
  position: relative;
  top: 47677px;
  width: 14px;
}

.githublogo .vector-56 {
  height: 64.70%;
  left: 0;
  position: absolute;
  top: 17.65%;
  width: 100.00%;
}
